<div class="col-md-6">
  <div style="width: 60%">
    <h3>Edit trip</h3>
    <%= bootstrap_form_for :trip, url: trips_path(@trip), method: :patch do |f| %>

        <%= f.text_field :title, hide_label: true %>
        <%= f.text_area :description, hide_label: true %>
        <%= f.submit %>  
    <% end %>
    <br>
    <button class="btn btn-default"><%= link_to 'Back', trips_path %></button>
  </div>
</div>