<h1>All my trips</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
 
  <% @trips.each do |trip| %>
    <tr>
      <td><%= trip.title %></td>
      <td><%= trip.description %></td>
      <td><%= link_to 'Show', trip_path(trip) %></td>
      <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
      <td><%= link_to 'Destroy', trip_path(trip),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New trip', new_trip_path %>