<div class="container-fluid" style="padding-left: 3em; padding-right: 3em">


<div class="jumbotron">
  <h2>Our trip!</h2>

  <div class="btn-group" style="left: 65em; position:relative; bottom:7em">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Welcome, user <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Sign out</a></li>
    <li><a href="#"><%= link_to 'Change the trip details', edit_trip_path(@trip) %></a></li>
  </ul>
</div>

  <button type="button" class="btn btn-default" style="left: 70em; position:relative; bottom:7em">
    <%= link_to 'See all my trips', trips_path %>
  </button>

  <p>
  <strong>We are going to</strong>
  <%= @trip.title %>
</p>
 
<p>
  <strong>It is going to be</strong>
  <%= @trip.description %>
</p>
</div>


<div class="row">
  <% @icons.each do |icon| %>
  <div class="col-xs-6 col-md-4" style="padding-left: 0px; padding-right: 0px">
    <div style="width:100%; height:15em; border: 0.2em solid black">
      <span style="line-height:15em; display:table; margin:0 auto"><i class="fa <%= icon %>  fa-5x"> </i>
      </span>

    </div>
  </div>
 <% end %>
</div>


<%= link_to 'Edit', edit_trip_path(@trip) %>

