<h1>All participants for the trip to <%= @trip.title %> </h1>
<p> Choose from... </p>
<table>
  <tr>
    <th>Name</th>
  </tr> 
  <% @participants.each do |participant| %>
    <tr>
      <td><%= participant.name %></td>
      <td><%= link_to 'Destroy', [participant.trip, participant],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<h3>Add New Participant</h3>
<%= form_for [:trip, @participant] do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<div id="snowdiv">
  <div id="snow">
  </div>
</div>



