<div class="col-md-6">
  <h3>Trip to <%= @trip.title %></h3>
  <div class="panel panel-default" style="width: 70%">
    <div class="panel-heading"><h3>All participants for this trip</h3></div>
    <table class="table">
      <% @participants.each do |participant| %>
        <tr> 
          <td><%= participant.name %></td>
          <td><%= link_to 'Remove', [participant.trip, participant],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="col-md-6">
  <h3>Add New Participant</h3>
  <%= form_for [:trip, @participant] do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
<!--  this is stopping code!  <div id="snowdiv">
      <div id="snow">
      </div>
    </div> -->




