<div class="col-md-6">
  <h3>Trip to <%= @trip.title %></h3>
  <div class="panel panel-default" style="width: 70%">
    <div class="panel-heading"><h3>Costs for this trip</h3></div>
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Amount in EUR</th>
      </tr>
      <% @costs.each do |cost| %>
        <tr> 
          <td><%= cost.title %></td>
          <td><%= cost.amount %></td>
          <td><%= link_to 'Destroy', [cost.trip, cost],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="col-md-6">
  <% array = [] %>
  <% @costs.each do |cost| %>
    <% array << cost.amount.to_s.to_d %> 
    <% end %>
  <p>
  <h3> Estimated cost of the trip: <%= array.inject(:+) %> EUR</h3>
  </p>
  <br>
  <div style="width: 60%">
    <h4>Add new cost</h4>
    <%= bootstrap_form_for [:trip, @cost] do |f| %>

        <%= f.text_field :title, hide_label: true, placeholder: "Name a cost..."  %>

        <%= f.number_field :amount, :class => 'text_field', :step => 'any', prepend: "$", hide_label: true, placeholder: "Amount"  %>

        <%= f.submit %>  
    <% end %>
  </div>
</div>
