<%= render 'description' %>
<h1>All costs for the trip to <%= @trip.title %> </h1>

<table>
  <tr>
    <th>Title</th>
    <th>Amount</th>
  </tr>
 
  <% @costs.each do |cost| %>
    <tr>
      <td><%= cost.title %></td>
      <td><%= cost.amount %></td>
      <td><%= link_to 'Destroy', [cost.trip, cost],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<h2> Total costs of the trip </h2>
<% array = [] %>
<% @costs.each do |cost| %>
  <% array << cost.amount.to_s.to_d %> 
  <% end %>
<p>
<%= array.inject(:+) %>
</p>

<h3>Add New Cost</h3>
<%= form_for [:trip, @cost] do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :amount %><br>
    <%= f.number_field :amount, :class => 'text_field', :step => 'any' %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', trip_path(@trip) %>

