<%= render 'description' %>
<div class="col-md-10">
  <h1>All costs for the trip to <%= @trip.title %> </h1>
  <table>
    <tr>
      <th>Title</th>
      <th>Amount</th>
    </tr>
   
    <% @costs.each do |cost| %>
      <tr>
        <td><%= cost.title %></td>
        <td><%= cost.amount %></td>
        <td><%= link_to 'Destroy', [cost.trip, cost],
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

  <h2> Total costs of the trip </h2>
  <% array = [] %>
  <% @costs.each do |cost| %>
    <% array << cost.amount.to_s.to_d %> 
    <% end %>
  <p>
  <%= array.inject(:+) %>
  </p>

  <h3>Add New Cost</h3>
  <%= bootstrap_form_for [:trip, @cost] do |f| %>

      <%= f.text_field :title %>

      <%= f.number_field :amount, :class => 'text_field', :step => 'any' %>
  
      <%= f.submit %>
    
  <% end %>
</div>
</div>
