<%= render 'description' %>
<div class="col-md-10">
  <h3>Trip to <%= @trip.title %></h3>
  <h4>COSTS FOR THIS TRIP</h4>
  <table>
    <tr>
      <th>Title</th>
      <th>Amount</th>
    </tr>
   
    <% @costs.each do |cost| %>
      <tr>
        <td><%= cost.title %></td>
        <td><%= cost.amount %></td>
        <td><%= link_to 'Destroy', [cost.trip, cost],
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

  <% array = [] %>
  <% @costs.each do |cost| %>
    <% array << cost.amount.to_s.to_d %> 
    <% end %>
  <p>
  <h4> Estimated cost of the trip: <%= array.inject(:+) %> EUR</h4>
  </p>
  <div style="width: 25%">
    <h4>ADD NEW COST</h4>
    <%= bootstrap_form_for [:trip, @cost] do |f| %>

        <%= f.text_field :title, hide_label: true, placeholder: "Add a cost..."  %>

        <%= f.number_field :amount, :class => 'text_field', :step => 'any', prepend: "$", hide_label: true, placeholder: "Amount"  %>

        <%= f.submit %>
      
    <% end %>
  </div>
</div>
</div>
