<%= render 'description' %>

  <div class="col-md-10">
  <h3>Trip to <%= @trip.title %></h3>
    <div style="width: 45%"><h4>All tasks to do before our trip</h4>
      <table class="table">
        <tr>
         <th>Task</th>
         <th>Who is responsible</th>
        </tr>
          <% @todos.each do |todo| %>
          <tr>
            <td><%= todo.task %></td>
            <td><%= todo.participants.map {|p| p.name}.join(",") %></td>
            <td><%= link_to 'Delete this task', [todo.trip, todo],
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </table>
    </div>
    <div style="width: 45%"><h4>Add New Task</h4>
        <%= form_for [:trip, @todo] do |f| %>
          <p>
            <%= f.label :task %><br>
            <%= f.text_field :task %>
          </p>
          <p> Choose responsible participant </p>
          <p>
            <%= select_tag "participants", options_for_select(@trip.participants.map { |p| [p.name, p.id]}), multiple: true %>
          </p>
          <p>
            <%= f.submit %>
          </p>
        <% end %>
     </div>
  </div> 
</div>


