<%= render 'description' %>
<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><%= link_to '<i class="fa fa-list-ol"></i> Todo before trip'.html_safe, trip_todos_path(@trip) %></li>
      <li role="presentation"><%= link_to '<i class="fa fa-users"></i> People'.html_safe, trip_participants_path(@trip) %></li>
      <li role="presentation"><%= link_to '<i class="fa fa-globe"></i> Journey map'.html_safe, trip_todos_path(@trip) %></li>
      <li role="presentation"><%= link_to '<i class="fa fa-calendar"></i> Plan and ideas'.html_safe, trip_todos_path(@trip) %></li>
      <li role="presentation"><%= link_to '<i class="fa fa-file-text-o"></i> Documents'.html_safe, trip_documents_path(@trip) %></li>
      <li role="presentation"><%= link_to '<i class="fa fa-dollar"></i> Costs'.html_safe, trip_costs_path(@trip) %></li>
      <li role="presentation"><%= link_to '<i class="fa fa-home"></i> Home'.html_safe, trip_path(@trip) %></li>

    </ul>
  </div>

  <div class="col-md-10">
    <div class="panel panel-default" style="width: 45%">
      <div class="panel-heading"><h4>All tasks to do before our trip to  <%= @trip.title %></h4></div>
      <table class="table">
        <tr>
         <th>Task</th>
         <th>Who is responsible</th>
        </tr>
          <% @todos.each do |todo| %>
          <tr>
            <td><%= todo.task %></td>
            <td><%= todo.participants.map {|p| p.name}.join(",") %></td>
            <td><%= link_to 'Delete this task', [todo.trip, todo],
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </table>
    </div>

    <div class="panel panel-default" style="width: 45%">
      <div class="panel-heading">Add New Task</div>
      <div class="panel-body">
        <%= form_for [:trip, @todo] do |f| %>
          <p>
            <%= f.label :task %><br>
            <%= f.text_field :task %>
          </p>
          <p> Choose responsible participant </p>
          <p>
            <%= select_tag "participants", options_for_select(@trip.participants.map { |p| [p.name, p.id]}), multiple: true %>
          </p>
          <p>
            <%= f.submit %>
          </p>
        <% end %>
      </div>
    </div>

    </div>
  </div>
</div>

