<h1>All todos for the trip to <%= @trip.title %> </h1>

<table>
  <tr>
    <th>Task</th>
  </tr>
  <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.task %></td>
      <td><%= todo.participants.map {|p| p.name}.join(",") %></td>
      <td><%= link_to 'Destroy', [todo.trip, todo],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>


<h3>Add New Task</h3>
<%= form_for [:trip, @todo] do |f| %>
  <p>
    <%= f.label :task %><br>
    <%= f.text_field :task %>
  </p>

  <p> Choose responsible participant </p>
  <p> <%= select_tag "participants", options_for_select(@trip.participants.map { |p| [p.name, p.id]}), multiple: true %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<select multiple="multiple" id="my-select" name="my-select[]">
  <%= @trip.participants.each do |p| %> 
      <option value='<% p.id %>'><%= p.name %></option>

  <% end %>
  </select>

<%= link_to 'Back', trips_path %>