<!DOCTYPE html>
<html>
<head>
  <title>TravelApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link href="path/to/todos.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container-fluid" style="padding-left: 6em; padding-right: 6em">
   <div class="row" style="padding-bottom: 6em"> 
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <%= yield %>
  </div>
  </div>
    <nav class="navbar navbar-default navbar-fixed-bottom" style="width: 92.714em; margin-left: 6em">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">TRAVEL APP 2015</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Contact', trips_path %></li>
          </ul>
        </div>
      </div>
   </nav>
  

</body>
</html>
